@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/buttom.css");
@import url("components/banner.css");
@import url("components/card.css");


h1, .banner {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

body{
	font-family: 'Lora', serif;
	font size: 18px;
	margin: 10pxs;
}

h2,h3{
	font-family: 'Roboto', serif;
	font-weight: bold;
}

a{
	text-decoration: none;
}