 .banner{
 	background-image: linear-gradient(-225deg, rgb(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/banniere.png);
 	color: grey;
 	background-size: cover;
 	padding: 150px 25px;
 	background-position: center;
}

.banner h1 {
	font-size: 45px;
	color: white;
	text-shadow: 2px 0 0 #000000, 2px 2px 0 #000000, 0 2px 0 #000000, -2px 2px 0 #000000, -2px 0 0 #000000, -2px -2px 0 #000000, 0 -2px 0 #000000, 2px -2px 0 #000000;
}

.banner h2 {
	font-size: 25px;
	font-weight: bolder;
	opacity: 0,8;
	margin-bottom: 45px;
	color: white;
}