.cards {
		display: flex;
		flex-wrap: wrap;
}

.card {
	
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 8px;
	flex-basis: 240px;
	flex-grow: 1;

}

.card img{
	width: 140px;
	border-radius: 6px;

}

.card h3 {
	border-radius: 6px;
	flex-grow: 1;
	text-align: center;
	padding-left: 18px;
	font-size: 25px;
	
}